.container {
  width: 23.4375rem;
  .container__bgimg {
    position: absolute;
    opacity: 0.95;
    z-index: -1;
  }
  .cards__container {
    display: flex;
    flex-direction: column;
    gap: 6rem;
  }
}
