.container {
  width: 23.4375rem;
  @media(min-width: 768px) {
    width: 48rem;
  }
  @media(min-width: 1440px) {
    width: 90rem;
  }
  .container__bgimg {
    position: absolute;
    opacity: 0.95;
    z-index: -1;
    @media(min-width: 1440px) {
      right: 0;
    }
  }
  .cards__container {
    display: flex;
    flex-direction: column;
    gap: 6rem;
    @media(min-width: 768px) {
      position: relative;
      top: 20rem;
      gap: 8rem;
    }
    @media(min-width: 1440px) {
      top: 45rem;
      gap: 0;
    }
  }
  
}
