@import url("https://fonts.googleapis.com/css2?family=League+Spartan:wght@300;400;600;700&display=swap");

//Primary
$backgroundColor: #fff;
$textColorWhite: #fff;
$beaver: #9e7f66;
$codGray: #111;
//Secondary
$mirage: #17192b;
$ebonyClay: #242b37;
$shuttleGray: #5c6779;

//Typography
$leagueSpartanFont: "League Spartan", sans-serif;
:root {
  background-color: $backgroundColor;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 16px;
  box-sizing: border-box;
}
* {
  margin: 0 auto;
  // outline: 1px solid limegreen !important;
}
body {
  margin: 0;
  display: flex;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
  font-family: $leagueSpartanFont;
}
h2,
h3 {
  font-family: $leagueSpartanFont;
}
p {
  font-family: $leagueSpartanFont;
}

img {
  max-width: 100%;
}
