@import "../dine-restaurant-app/src/index.scss";
.highlights__container {
  background-color: $codGray;
  position: relative;
  top: 4rem;
  width: 23.4375rem;
  height: 110rem;
  @media (min-width: 768px) {
    width: 48rem;
    height: 65.6875rem;
  }
  @media (min-width: 1440px) {
    top: -16rem;
    right: 7rem;
    width: 99rem;
    height: 50rem;
  }
  .highlights__description {
    @media (min-width: 1440px) {
      position: relative;
      right: 20rem;
      top: 10rem;
    }
  }
  .highlights__header {
    text-align: center;
    position: relative;
    width: 15rem;
    line-height: 2rem;
    letter-spacing: -0.025rem;
    top: 7.5rem;
    color: #fff;
    @media (min-width: 768px) {
      width: 27.8125rem;
      font-size: 3rem;
      font-weight: 700;
      line-height: 3rem;
      letter-spacing: -0.03125rem;
    }
    @media (min-width: 1440px) {
      text-align: start;
    }
  }
  .highlights__paragraph {
    color: #fff;
    text-align: center;
    font-size: 1rem;
    font-style: normal;
    font-weight: 400;
    line-height: 1.625rem;
    position: relative;
    width: 21rem;
    top: 10rem;
    @media (min-width: 768px) {
      width: 27.8125rem;
      font-size: 1.25rem;
      line-height: 1.875rem;
    }
    @media (min-width: 1440px) {
      text-align: start;
    }
  }
  .highlightsmenu__container {
    display: flex;
    flex-direction: column;
    position: relative;
    top: 13rem;
    gap: 5rem;
    @media (min-width: 768px) {
      gap: 0;
    }
    @media (min-width: 1440px) {
      width: 48rem;
      height: 50rem;
      margin-right: 10rem;
      margin-top: -16rem;
    }
  }
}
