.dish__container {
  margin: 1.5rem;
  @media (min-width: 768px) {
    margin-bottom: 0;
    margin-left: 8rem;
  }
  .dish__info-text {
    display: flex;
    flex-direction: column;
    @media (min-width: 768px) {
      position: relative;
      bottom: 8rem;
    }
  }
  .dish__header {
    color: #fff;
    position: relative;
    top: 2rem;
    @media (min-width: 768px) {
      width: 23.9375rem;
      left: 3rem;
      font-size: 1.25rem;
      font-style: normal;
      font-weight: 700;
      line-height: 1.5rem;
      letter-spacing: -0.01563rem;
    }
  }
  .dish__description {
    color: #fff;
    text-align: center;
    position: relative;
    top: 4rem;
    width: 16.4375rem;
    line-height: 1.625rem;
    @media (min-width: 768px) {
      width: 23.9375rem;
      left: 3rem;
      text-align: left;
      font-size: 1rem;
      font-style: normal;
      font-weight: 400;
      line-height: 1.625rem;
      top: 3rem;
    }
  }
  .underscore {
    width: 20.4375rem;
    border: 1px solid #fff;
    opacity: 0.1494;
    position: relative;
    top: 7rem;
    @media (min-width: 768px) {
      top: -1rem;
      width: 35.8125rem;
      right: 2rem;
    }
  }
}
