@import "../dine-restaurant-app/src/index.scss";

.form__container {
  width: 20.4375rem;
  height: 36.5625rem;
  background: #fff;
  position: relative;
  top: 10rem;
  box-shadow: 0px 75px 100px -50px rgba(56, 66, 85, 0.5);
  display: flex;
  flex-direction: column;

  #form {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    margin: 1rem;
    #time__label {
      color: #111;
      font-family: $leagueSpartanFont;
      font-size: 1.25rem;
      font-style: normal;
      font-weight: 400;
      line-height: 1.75rem;
      margin-top: 0.5rem;
      margin-left: 0.5rem;
    }
    #date__label {
      color: #111;
      font-family: $leagueSpartanFont;
      font-size: 1.25rem;
      font-style: normal;
      font-weight: 400;
      line-height: 1.75rem;
      margin-top: 0.5rem;
      margin-left: 0.5rem;
    }
    .date__container {
      display: flex;
      flex-direction: row;
      .date {
        width: 4.5625rem;
        height: 2.6875rem;
        margin: 0.1rem;
        outline: none;
        border: none;
        font-family: $leagueSpartanFont;
        color: $beaver;
        font-size: 1rem;
        padding-left: 1rem;
        border-bottom: 1px solid #8e8e8e;
      }
    }

    .time__container {
      display: flex;
      width: 16.4375rem;
      flex-direction: row;
      gap: 0.5rem;
      .time__label {
        color: #111;
        font-family: $leagueSpartanFont;
        font-size: 1.25rem;
        font-style: normal;
        font-weight: 400;
        line-height: 1.75rem;
      }
    }
    #name,
    #email {
      width: 16.4375rem;
      height: 2.6875rem;
      outline: none;
      border: none;
      font-family: $leagueSpartanFont;
      color: $beaver;
      font-size: 1rem;
      padding-left: 1rem;
      border-bottom: 1px solid #8e8e8e;
    }
    #hour,
    #minute {
      width: 4.5625rem;
      outline: none;
      border: none;
      font-family: $leagueSpartanFont;
      color: $beaver;
      font-size: 1rem;
      padding-left: 1rem;
      border-bottom: 1px solid #8e8e8e;
      color: $beaver;
      font-family: League Spartan;
      font-size: 1.25rem;
      font-style: normal;
      font-weight: 400;
      line-height: 1.75rem;
    }
    select#ampm {
      width: 5.5rem;
      height: 2.6875rem;
      outline: none;
      border: none;
      font-family: $leagueSpartanFont;
      border-bottom: 1px solid #8e8e8e;
      color: #111;
      font-size: 1.25rem;
      font-style: normal;
      font-weight: 400;
      line-height: 1.75rem;
      position: relative;
      outline: none;
    }
    select#ampm option {
      text-align: center;
      background-color: #fff;
      color: #111;
    }

    /* Style the selected option */
    select#ampm option:checked {
      background-color: $beaver;
      color: #fff;
    }
  }
  //error handling styles
  .error {
    color: #b54949;
    font-family: $leagueSpartanFont;
    font-size: 0.625rem;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    letter-spacing: -0.00781rem;
    margin: 0 1rem;
  }
  .error-email {
    color: #b54949;
    font-family: $leagueSpartanFont;
    font-size: 0.625rem;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    letter-spacing: -0.00781rem;
    position: absolute;
    top: 8rem;
    left: 2.5rem;
  }
  .error-name {
    color: #b54949;
    font-family: $leagueSpartanFont;
    font-size: 0.625rem;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    letter-spacing: -0.00781rem;
    position: absolute;
    top: 4rem;
    left: 2.5rem;
  }
  .error-hour {
    color: #b54949;
    font-family: $leagueSpartanFont;
    font-size: 0.625rem;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    letter-spacing: -0.00781rem;
    position: absolute;
  }
  .error-minute {
    color: #b54949;
    font-family: $leagueSpartanFont;
    font-size: 0.625rem;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    letter-spacing: -0.00781rem;
    position: absolute;
  }
  .error-month {
    color: #b54949;
    font-family: $leagueSpartanFont;
    font-size: 0.625rem;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    letter-spacing: -0.00781rem;
    position: absolute;
    top: 15.2rem;
    left: 1.5rem;
  }
  .error-day {
    color: #b54949;
    font-family: $leagueSpartanFont;
    font-size: 0.625rem;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    letter-spacing: -0.00781rem;
    position: absolute;
    top: 15.2rem;
    left: 7.5rem;
  }
  .error-year {
    color: #b54949;
    font-family: $leagueSpartanFont;
    font-size: 0.625rem;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    letter-spacing: -0.00781rem;
    position: absolute;
    top: 15.2rem;
    left: 13.5rem;
  }
}
