.reservation__container {
  display: flex;
  flex-direction: column;

  @media (min-width: 1440px) {
    position: relative;
    width: 100%;
    top: 9rem;
  }
  .reservation__img {
    top: 11rem;
    position: relative;
    bottom: 5rem;
    @media (min-width: 768px) {
      left: 0;
    }
    @media (min-width: 1440px) {
      top: 0;
      position: relative;
      width: 100%;
    }
  }
  .reservation__imgBooking {
    position: absolute;
    z-index: -1;

    @media (min-width: 768px) {
      margin-left: -12rem;
    }
    @media (min-width: 1440px) {
      margin-left: 0rem;

      width: 100vw;
    }
  }
  .reservation__header {
    color: #fff;
    text-align: center;
    font-size: 2.2rem;
    font-style: normal;
    font-weight: 700;
    line-height: 2.5rem;
    letter-spacing: -0.025rem;
  }
  .reservation__headerBg {
    color: #fff;
    text-align: center;
    font-size: 2.2rem;
    font-style: normal;
    font-weight: 700;
    line-height: 2.5rem;
    letter-spacing: -0.025rem;
    @media (min-width: 768px) {
      position: relative;
      right: 15rem;
      font-size: 3rem;
    }
    @media (min-width: 1440px) {
      font-size: 4rem;
      right: 10.5rem;
    }
  }

  .reservation__paragraph {
    color: #fff;
    width: 20.4375rem;
    text-align: center;
    font-size: 1rem;
    font-style: normal;
    font-weight: 400;
    line-height: 1.625rem;
    @media (min-width: 768px) {
      width: 35.8125rem;
      font-size: 1.25rem;
      font-style: normal;
      font-weight: 400;
      line-height: 1.875rem;
    }
    @media (min-width: 1440px) {
      width: 27.8125rem;
      text-align: start;
      position: relative;
      top: 15rem;
    }
    .reservation__subheader {
      color: #fff;
      text-align: center;
      width: 20.4375rem;
      font-size: 2rem;
      font-style: normal;
      font-weight: 300;
      line-height: 2.5rem;
      letter-spacing: -0.025rem;
      @media (min-width: 1440px) {
        font-size: 5rem;
        bottom: 1rem;
        position: relative;
      }
    }
  }
  .innerContentBooking {
    display: flex;
    flex-direction: column;
    position: relative;
    gap: 2rem;
    top: 3rem;
    @media (min-width: 768px) {
      right: 6rem;
    }
    @media (min-width: 1440px) {
      right: 25rem;
    }
  }
  .innerContent {
    display: flex;
    flex-direction: column;
    position: relative;
    gap: 2rem;
    bottom: 6rem;
    @media (min-width: 768px) {
      bottom: 3rem;
    }
    @media (min-width: 1440px) {
      bottom: 11.5rem;
    }
  }
}
//THE CODE BELOW IS FOR BOOKING SRC component RESERVATION CARD
//Neeed to be found a better solution than duplication whole styles for deprecationg only one top:9rem property

.reservation__containerBooking {
  display: flex;
  flex-direction: column;

  @media (min-width: 1440px) {
    position: relative;
    width: 100%;
    top: 0rem;
  }
  .reservation__img {
    top: 11rem;
    position: relative;
    bottom: 5rem;
    @media (min-width: 768px) {
      left: 0;
    }
    @media (min-width: 1440px) {
      top: 0;
      position: relative;
      width: 100%;
    }
  }
  .reservation__imgBooking {
    position: absolute;
    z-index: -1;

    @media (min-width: 768px) {
      margin-left: -12rem;
    }
    @media (min-width: 1440px) {
      margin-left: 0rem;

      width: 100vw;
    }
  }
  .reservation__header {
    color: #fff;
    text-align: center;
    font-size: 2.2rem;
    font-style: normal;
    font-weight: 700;
    line-height: 2.5rem;
    letter-spacing: -0.025rem;
  }
  .reservation__headerBg {
    color: #fff;
    text-align: center;
    font-size: 2.2rem;
    font-style: normal;
    font-weight: 700;
    line-height: 2.5rem;
    letter-spacing: -0.025rem;
    @media (min-width: 768px) {
      position: relative;
      right: 15rem;
      font-size: 3rem;
    }
    @media (min-width: 1440px) {
      font-size: 4rem;
      right: 10.5rem;
    }
  }

  .reservation__paragraph {
    color: #fff;
    width: 20.4375rem;
    text-align: center;
    font-size: 1rem;
    font-style: normal;
    font-weight: 400;
    line-height: 1.625rem;
    @media (min-width: 768px) {
      width: 35.8125rem;
      font-size: 1.25rem;
      font-style: normal;
      font-weight: 400;
      line-height: 1.875rem;
    }
    @media (min-width: 1440px) {
      width: 27.8125rem;
      text-align: start;
      position: relative;
      top: 15rem;
    }
    .reservation__subheader {
      color: #fff;
      text-align: center;
      width: 20.4375rem;
      font-size: 2rem;
      font-style: normal;
      font-weight: 300;
      line-height: 2.5rem;
      letter-spacing: -0.025rem;
      @media (min-width: 1440px) {
        font-size: 5rem;
        bottom: 1rem;
        position: relative;
      }
    }
  }
  .innerContentBooking {
    display: flex;
    flex-direction: column;
    position: relative;
    gap: 2rem;
    top: 3rem;
    @media (min-width: 768px) {
      right: 6rem;
    }
    @media (min-width: 1440px) {
      right: 25rem;
    }
  }
  .innerContent {
    display: flex;
    flex-direction: column;
    position: relative;
    gap: 2rem;
    bottom: 6rem;
    @media (min-width: 768px) {
      bottom: 3rem;
    }
    @media (min-width: 1440px) {
      bottom: 14rem;
    }
  }
}
