.reservation__container {
  display: flex;
  flex-direction: column;
  
  .reservation__img {
    position: absolute;
    z-index: -1;
  }
  .reservation__header {
    color: #fff;
    text-align: center;
    font-size: 2.2rem;
    font-style: normal;
    font-weight: 700;
    line-height: 2.5rem;
    letter-spacing: -0.025rem;
  }
  .reservation__paragraph {
    color: #fff;
    width: 20.4375rem;
    text-align: center;
    font-size: 1rem;
    font-style: normal;
    font-weight: 400;
    line-height: 1.625rem;
    .reservation__subheader {
      color: #fff;
      text-align: center;
      width: 20.4375rem;
      font-size: 2rem;
      font-style: normal;
      font-weight: 300;
      line-height: 2.5rem;
      letter-spacing: -0.025rem;
    }
  }
  .innerContent {
    display: flex;
    flex-direction: column;
    position: relative;
    gap: 2rem;
    top: 3rem;
    
  }
}
