@import "../dine-restaurant-app/src/index.scss";
.btn__container {
  //fullfilled btn
  .btn__book {
    width: 10.5rem;
    height: 2.7rem;
    font-size: 12px;
    color: #ffffff;
    border: 1px solid white;
    font-style: normal;
    font-weight: 600;
    letter-spacing: 0.15625rem;
    font-family: "League Spartan", sans-serif;
    cursor: pointer;
    background-color: black;
    transition: background-color 0.5s ease;
  }
  .btn__book:hover {
    background-color: #ffffff;
    color: #000000; 
    border: 1px solid #000000;
  }
  //transparent btn
  .btn__book-transparent {
    width: 10.5rem;
    height: 2.7rem;
    font-size: 12px;
    color: #ffffff;
    border: 1px solid white;
    font-style: normal;
    font-weight: 600;
    letter-spacing: 0.15625rem;
    font-family: "League Spartan", sans-serif;
    cursor: pointer;
    background-color: transparent;
    transition: background-color 0.5s ease;
  }
  .btn__book-transparent:hover {
    background-color: #ffffff;
    color: #000000; 
    border: 1px solid #000000;
  }
}

  
