@import "../dine-restaurant-app/src/index.scss";
.header__container {
  position: relative;
  top: 13.5rem;
  width: 23.4375rem;
  height: 34.5rem;
  background-color: $codGray;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  @media (min-width: 768px) {
    width: 48rem;
    top: 27.5rem;
  }
  .header {
    color: $textColorWhite;
    text-align: center;
  }
  .header__subheader {
    color: $textColorWhite;
    text-align: center;
    font-weight: 300;
    @media (min-width: 768px) {
      text-align: center;
      font-family: League Spartan;
      font-size: 3rem;
      font-style: normal;
      line-height: 4rem;
      letter-spacing: -0.0375rem;
    }
  }
  .header__paragraph {
    color: $textColorWhite;
    width: 15.4375rem;
    text-align: center;
    font-weight: 400;
    line-height: 1.875rem;
    font-size: 0.79rem;
    @media (min-width: 768px) {
      width: 35.8125rem;
      font-size: 1.25rem;
      line-height: 1.875rem;
    }
  }
}
